<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mappers.pakingMapper">
	<!--  주차영역 셀렉트 -->
	<select id="showLocate" resultType="com.shopping.domain.ParkingVO">
	select locate, isUse 
	from ParkingSpace
	</select>
	
	<!-- 주차영역 확인수정 -->
	<update id="ParkingModify">
 	update ParkingSpace
     set
         isUse = #{isUse}
     where locate = #{locate}
	</update>
</mapper>
